body{
    margin: 0%;
    font-family: "Open Sans";

}

h1 {
    color: #0b2f46;
}

main{
    margin: 20px;
}

footer {
    background-color:  #eff3f5 ;
}

/* Classes */

.landing-container{
    position: relative;
    text-align: center;
    color: white;
    user-select: none;
}

.centered{
    position: absolute;
    top: 43%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    text-shadow: 6px 6px 5px black;
    line-height:normal ;
    user-select: none;
}

.columns {
    background-color:#eff3f5; /* Primary Blue color #185A82 */
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.columns .column {
    padding: 20px;
    width: 50%;
    text-align: center;
}

.columns p{
    color: black;
    user-select: none;
}

.columns a{
    color: black;
}

.column a:hover{
    color: #0c2535;

}

.my-skills{
    color: #0c2535;
}

.item{
    color: black;
    padding: 3px 12px 3px 12px;
    user-select: none;
}

.media-logo{
    height: 30px;
    width: auto;
    padding: 10px;
}

/* Classes End */


/* Id's */
    /* General Selectors */
    #name{
        margin: 0;
        padding: 9px 9px 9px 17px;
        font-size:28px;
        user-select: none;
    }

    #name, a{
        text-decoration: none;
    }

    #home-header {
        background-color: white;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    #home-header span{
        float: left;
        padding-right: 20px;
    }

    #home-header .navitem{
        float: left;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
        color: black;
        font-size: medium;
    }


    #itemlist {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    #itemlist a:hover{
        background-color: #0b2f46;
        color: white;
    }
    

    #home-pic {
        width: 100%;
    }

    #games{
        display: flex;
    }

    #buttons {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .play{
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
    }

    #skills-list{
        display: flex;
        justify-content: center;
    }

    .skill{
        padding: 10px;
        list-style-type: none;
    }

    #facebook-link-flexbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        vertical-align: middle;
        /* padding: 7px; */
    }

/* Id's End */