body{
    margin: 0%;
    font-family: "Open Sans";
}

main{
    padding: 30px;
}

h1 {
    color: #0b2f46;
    
}


footer {
    background-color:  #eff3f5 ;
}

/* Classes */

    /* General selectors */
    .columns {
        background-color:#eff3f5; /* Primary Blue color #185A82 */
        height: 150px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .columns .column {
        padding: 20px;
    }

    .columns p{
        color: black;
    }

    .columns a{
        color: black;
    }

    .column a:hover{
        color: #0c2535;
    }

    .logo{
        padding: 20px;
    }

    .item{
        color: black;
        text-decoration: none;
        padding-left: 16px;
        padding-right: 16px;
    }

    
    #media-logos{
        display: flex;
        vertical-align: middle;
    }
    .media-logo{
        height: 30px;
        width: auto;
        padding-right: 10px;
    }
    /* General selectors End */

    /* Specific selectors*/        

/* Classes End */


/* Id's */
    /* General Selectors */
    #home-header {
        background-color: white;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    #home-header span{
        float: left;
        padding-right: 20px;
    }

    #home-header .navitem{
        float: left;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
        color: black;
        font-size: medium;
    }

    #itemlist {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    #itemlist a:hover{
        background-color: #0b2f46;
        color: white;
    }

    #macy {
        width: 100px;
    }
    
    #logo {
        margin: 0;
    }

    #home-pic {
        width: 100%;
    }

    #facebook-link-flexbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* padding: 7px; */
    }

    /* General Selectors End */

    /* Specific Selectors */
    
    /* Specific Selectors End */
/* Id's End */
